* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.buttons-view {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 10px;
  margin-top: 50px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #900c0c;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 2px auto;
}

.active {
  background: #646cff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

header div {
  display: flex;
  align-items: center;
  gap: 40px;
}

header img {
  height: 90px;
}

/* harita ile ilgili alan*/

.leaflet-container {
  height: 70vh;
  width: 100%;
}

.popup {
  display: grid;
  text-align: center;
  gap: 10px;
  font-weight: 700;
}

.detail {
  position: fixed;
  z-index: 9999;
  height: 100vh;
  top: 0;
  left: 10px;
  display: flex;
  align-items: center;
}

.detail-inner {
  background: black;
  color: white;
  height: 93%;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 2px 2px 20px #535bf2;
}
.close {
  display: flex;
  justify-content: end;
  font-size: 19px;
  padding-right: 10px;
  cursor: pointer;
}

.load {
  text-align: center;
  margin-top: 30px;
}
.close {
  background: #535bf2;
  border-radius: 8px;
}

.status {
  padding: 3px 5px;
  border-radius: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.active {
  border-radius: 6px;
}

.active a {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 6px;
}

.list-page {
  display: flex;
  min-height: 75vh;
  flex-direction: column;
  justify-content: space-between;
}
